<%= turbo_stream_from "discussions" %>
<section class="discussions w-full">
  <div class="flex mb-2 justify-between items-center w-full">
    <h1 class="font-bold text-4xl">Discussions</h1>
    <%= link_to "New Discussions", new_discussion_path, class: "btn btn-neutral" %>
  </div>

  <div>
    <ul id="discussions" class="list gap-4">
      <%= render @discussions %>
    </ul>
  </div>
</section>
