<div class="flex justify-between items-center">
  <h1 class="text-xl">Discussions</h1>
  <%= link_to "New Discussions", root_path, class: "btn btn-neutral" %>
</div>

<div class="row mt-4">
  <div class="col">
    <div id="discussions">
      <%= render @discussions %>
    </div>
  </div>
</div>