<%= turbo_frame_tag dom_id(post) do %>
  <div class="chat <%= post.user == Current.user ? 'chat-end' : 'chat-start' %>">
    <%= render "discussions/posts/header", post: %>

    <div class="chat-bubble">
      <%= link_to post.body, edit_discussion_post_path(post.discussion, post), class:"tooltip", "data-tip": "Edit" %>
    </div>
  </div>
<% end %>
